<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="/>static/styles.css"/>
</head>
<body>
    <h1>Transactions:</h1>
    <ol>
<!--{{ entries }} tak liste w stringa dzięki j. jinja2-->
<!-- for w składnii ginger -->
{% for entry in entries %}
<li>{{ entry[2] }}: {{ entry[1] }} on {{ entry[0] }}.</li>
{% endfor %}
</ol>
</body>
</html>